.clear {
  clear: both;
}

footer {
	min-height: 300px;
	background-color: #343a40;
	padding: 1em;
	margin-top: 1em;
}

content {
    display: flex;
    flex-direction: row;
    padding: 1em;
    max-width: 1280px;
    margin: 0 auto;
}

.content {
  padding: 1em;
  margin:0 auto;
}

h2 {
	font-size: 20px;
}

.contentConatainer {
    width: 80%;
}

sidebar {
	width: 20%;
    margin: 0 1em;
}

.contentContainer {
    width: 80%;
    height: auto;
    max-height: 40px;
}

footer .row {
  background-color: #f0f8ff00;
  color: #fff;
}
.col {
  justify-content: space-evenly;
  padding: 1em;
  text-align: left;
}
.col p {
  font-size: 18px;
  padding: 0;
  margin: 0;
}
.container {
  margin-top: 1em;
  max-width: 100%;
}

#familyMember {
	text-align: left;
	padding: 0.5em 0;
}

#Designers {
    width: calc(100% / 3 - 4em);
    background-color: #f2f2f2;
    margin: 1em;
    padding: 1em;
    float: left;
}